.contacts-wrapper{
    background-color: #98D8AA;
}

.contacts-form{
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    align-items: center;
    justify-content: space-between;

    margin: 0 auto;

    width: 90%;
}

.contacts-form input{
    max-width: 20rem;
    max-height: 4rem;

    padding: 1rem 2rem;

    border-radius: 1.8rem;
    /* border: 1px solid #FF6D60; */
    background-color: #FF6D60;
    color: white;
    border: none;
    font-size: 1.1rem;
}

.contacts-form input::placeholder{
    color: white;
}

.contacts-form input:focus {
    outline: none
  }